
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<style>
    .bd-sidebar {
    border-right: 4px solid rgba(0,0,0,.1);
    border-bottom: 4px;
    min-width: 13px;
    }
    .bd-example {
        padding: 1rem;
        margin-right: 0;
        margin-left: 0;
        border-width: .2rem;
    }
    .highlight {
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        
        background-color: #fbfbff;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    } 
    .sizestylw{
        
        width: auto;
        height: 100%;
        background-color: #ededee;

    }
    .navstar{
        margin-top: 5px;
        /* margin-left: 1rem; */
    }
    
</style>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="https://virusnet.am/">
      <img src="https://virusnet.am/public/img/footer_logo2.png" width="70" height="30" class="d-inline-block align-top" alt="">
      VirusNet
    </a>
</nav>
<div class="row sizestylw ">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
        <div>
            <button type="button" onclick="myFunction()" class="btn btn-secondary btn-lg btn-block">MikroTik</button>
        
            <button type="button"  onclick="myFunction2()" class="btn btn-secondary btn-lg btn-block">OLT</button>

        </div> 
    </div>
    <div class="col-md-8 ">
        <div class="col-md-9" >
            
           {% block content %}

           {% endblock content %}

        </div>
        
    </div>
    

</div>

<script>
    function myFunction() {
      $('.mikrotik-display').show();
      $('.olt-display').hide();


    }
    function myFunction2() {
        $('.mikrotik-display').hide();
        $('.olt-display').show();

    }
</script>





