
{% extends "base_generic.html" %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
    <form class="mikrotik-display"  method="POST" id="oltfrom" >{% csrf_token %} 
        <fieldset>
            <h4>MikroTik </h4>
            <b>Chosse MikroTik</b>&nbsp;
            <select id="routers_name" name="routername" form="oltfrom">
                {% for elem in routerdata %}
                <option value="{{elem}}">{{elem}}</option>
                {% endfor %}
            </select></br></br>
    
            <b>Command </b>&nbsp;
            <select id="routers_commands" name="commands" form="oltfrom">
                {% for item in itemdata %}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            </br></br>
            <b>Port </b> &nbsp;
            <input name="port" value="23" type="text" required /> <br /> 
            <hr>

            {% buttons %}
        
            <button type="" value="Submit" class="btn btn-dark">Submit</button>
            {% endbuttons %}
    
        </fieldset>
    </form>

<!-- This  is part of OLT request form  -->

    <form class="olt-display" action="olt" style="display: none;" method="GET" id="oltrequest" >{% csrf_token %} 
        <fieldset>
            <h4>OLT </h4>
            <b>Chosse OLT</b>&nbsp;
            <select id="olt_name" name="oltname" form="oltrequest">
                {% for ipelem in oltip %}
                <option value="{{ipelem}}">{{ipelem}}</option>
                {% endfor %}
            </select></br></br>

            <b>Olt commands</b>&nbsp;
            
            <select id="olt_terminal_commands" name="olt_terminal_commands" form="oltrequest">
                {% for coms in oltcommand %}
                <option value="{{coms}}">{{coms}}</option>
                {% endfor %}
            </select></br></br>
    
            <b>Pon</b>&nbsp;
            <select id="olt_pon" name="olt_pon" form="oltrequest">
                
            </select>
            </br></br>
            <b>Onu </b> &nbsp;
            <select id="olt_onu" name="olt_onu" form="oltrequest">
            </select>
            <hr>

            {% buttons %}
        
            <button type="" value="Submit" class="btn btn-dark">Submit</button>
            {% endbuttons %}
    
        </fieldset>
    </form>
    <div class="card" style="width: 5rem;" hi></div>
    <div  style="background: #000000; overflow:auto;width:50rem;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
        <pre style="margin: 0; line-height: 125%">
            <!-- <span style="color: #ff0000">print</span>  -->
            <span style="color: #87ceeb">&#39;{{ x }}&#39;</span>
        </pre>
    </div>

    <script>
        (function() {
            var elm = document.getElementById('olt_pon'),
                df = document.createDocumentFragment();
            for (var i = 1; i <= 16; i++) {
                var option = document.createElement('option');
                option.value = i;
                option.appendChild(document.createTextNode("1/" + i));
                df.appendChild(option);
            }
            elm.appendChild(df);
        }());
    
    </script>
        <script>
            (function() {
                var elm = document.getElementById('olt_onu'),
                    df = document.createDocumentFragment();
                for (var i = 1; i <= 64; i++) {
                    var option = document.createElement('option');
                    option.value = i;
                    option.appendChild(document.createTextNode("1/" + i));
                    df.appendChild(option);
                }
                elm.appendChild(df);
            }());
        
        </script>
    
  
{% endblock  %}


